body{
    font-family: "Inter", sans-serif;
    position: relative;
    margin: 0 0 0 0;
    background-color: #f3f5fc;
}
.logo{
    margin: 15px 0 0 40px; 
}
main{
    display: flex;
    justify-content: center;
}       
section:first-child{
    margin-left: 240px;
}
.cajatext{
    display: block;
    border: none;
    background-color: #f3f5fc;
    width: 577px;
    height: 48px;
    margin: 70px 0 300px 0;
}
.cajadetexto p{
    display: inline;
}
.botones{
    width: 600px;
    display: flex;
    
}
.botones button{
    width: 328px;
    height: 57px;
    border-radius: 24px;
    background-color: #f3f5fc;
    color: #0A3871;
    margin: 0 0 0 0;
    transition: 0.5s;
}
.botones button:hover{
    width: 330px;
    height: 60px;

}
.botones button:first-child{
    background-color: #0A3871;
    color: #f3f5fc;
}
.contenedormuneco{
    position: relative;
    width: 270px;
    min-height: 550px;
    max-height: auto;
    text-align: center;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    margin: 0 20px 0 150px;
    padding: 30px;
}
.contenedormuneco img{
    width: 250px;
    margin: 80px 0 32px 0;
}
.textoresultado{
    max-width: 240px;
    
}
.copiarresultado{
    margin-top: 15px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    margin: auto;
    height: 50px;
    border-radius: 24px;
    background-color: #f3f5fc;
    color: #0A3871;
    transition: 0.5s;
}
.copiarresultado:hover{
    width: 72%;
    height: 52px;
}

@media all and (max-width: 1441px){

    .botones button{
        width: 250px;
        height: 50px;
    }
    .contenedormuneco{
        margin: 0 20px 0 20px ;
        width: 220px;
        min-height: 550px;
    }
    .contenedormuneco img{
        width: 220px;
        margin: 80px 0 32px 0;
    }
    .botones button:hover{
        width: 265px;
        height: 55px;
    }

@media all and (max-width: 769px){
    .logo{
        margin: 15px 0 0 30px;
    }
    main{
        display: block;
        align-items: center;
    }
    main{
        width: 100vw;
    }
    section:first-child{
        width: 90%;
        margin: auto;
    }
    .botones{
        justify-content: space-evenly;
        width: 100%;
    }
    .botones button{
        margin: 0;
        width: 280px;
        height: 57px;
    }
    .botones button:hover{
        width: 300px;
        height: 60px;
    }
    .cajadetexto{
        margin-left: 0px;
    
    }
    .cajatext{
        width: 100%;
    }
    .contenedormuneco{
        position: static;
        display: flex;
        align-items: center;       
        flex-direction: column;
        width: 90%;
        min-height: max-content;
        margin: 20px auto;
        padding: 0;
    }
    .contenedormuneco img{
        display: none;
    }
    .copiarresultado{
        transform: translateX(0%);
        position: static;
        margin: 10px auto;
        width: 50%;
    }
    .copiarresultado:hover{
        width: 52%;
    }
    .textoresultado{
        position: static;
        margin: 15px auto;
        
    }
}
}

@media all and (max-width: 376px){
    header{
        position: static;
    }
    section:first-child{
        margin: 0 0 0 16px;

    }
    .botones{
        margin: 0;
        width: 343px;
        display: block;
        justify-content: center;
    }
    .botones button{
        margin: 0;
        width: 343px;
        height: 57px;
    }
    .botones button:hover{
        width: 348px;
        height: 60px;
    }
    .contenedormuneco{
        margin: 0 0 0 8px;
        width: 330px;
        padding: 15px
    }
    .cajatext{
        margin: 10px 0 200px 0;
        width: 343px;
    }
    .cajadetexto{
        margin-left: 0;
    }
    .copiarresultado{
        width: 70%;
    }
}