header{
    position: absolute;
}
body{
    font-family: "Inter", sans-serif;
    position: relative;
    margin: 40px 0 0 0;
    background-color: #f3f5fc;
}
#logo{
    margin: 0 0 0 40px; 
}
main{
    display: flex;
    justify-content: center;
}       
section:first-child{
    margin-left: 240px;
}
.cajatext{
    display: block;
    border: none;
    background-color: #f3f5fc;
    width: 577px;
    height: 48px;
    margin: 70px 0 400px 0;
}
.cajadetexto p{
    display: inline;
}
.botones{
    width: 600px;
    display: flex;
    
}
.botones button{
    width: 328px;
    height: 57px;
    border-radius: 24px;
    background-color: #f3f5fc;
    color: #0A3871;
    padding: auto;
    margin: 0 0 0 0;
}
.botones button:first-child{
    background-color: #0A3871;
    color: #f3f5fc;
}
.contenedormuneco{
    width: 270px;
    min-height: 550px;
    max-height: auto;
    text-align: center;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    margin: 0 20px 0 150px;
    padding: 30px;
}
.contenedormuneco img{
    width: 250px;
    margin: 80px 0 32px 0;
}
.copiarresultado{
    margin-top: 15px;
    position: relative;
    top: 480px;
    width: 100%;
    height: 50px;
    border-radius: 24px;
    background-color: #f3f5fc;
    color: #0A3871;
}

@media all and (max-width: 1441px){
    section:first-child{
        margin-left: 100px;
    }
    .botones button{
        width: 250px;
        height: 50px;
    }
    .contenedormuneco{
        margin: 0 20px 0 20px ;
        width: 220px;
        min-height: 550px;
    }
    .contenedormuneco img{
        width: 220px;
        margin: 80px 0 32px 0;
    }
}
@media all and (max-width: 769px){
    #logo{
        margin: 0 0 0 30px;
    }
    main{
        display: block;
    }
    section:first-child{
        margin-left: 70px;
    }
    .botones{
        justify-content: space-evenly;
    }
    .botones button{
        margin: 0;
        width: 280px;
        height: 57px;
    }
    .contenedormuneco{
        width: 540px;
        min-height: initial;
        max-height: auto;
        margin: 20px 60px 20px 70px;
    }
    .contenedormuneco img{
        display: none;
    }
    .contenedormuneco p{
        margin: 5px;
    }
    .copiarresultado{
        position: static;
        margin: 5px 0 0 0;
        width: 100%;
    }
}

@media all and (max-width: 376px){
    header{
        position: static;
    }
    section:first-child{
        margin: 0 0 0 16px;

    }
    .botones{
        margin: 0;
        width: 343px;
        display: block;
        justify-content: center;
    }
    .botones button{
        margin: 0;
        width: 343px;
        height: 57px;
    }
    .contenedormuneco{
        margin: 0 0 0 8px;
        width: 330px;
        padding: 15px
    }
    .cajatext{
        margin: 10px 0 200px 0;
        width: 343px;
    }
    .cajadetexto{
        margin-left: 0;
    }
}