header{
    position: absolute;
}
body{
    font-family: "Inter", sans-serif;
    position: relative;
    margin: 40px 0 0 0;
    background-color: #f3f5fc;
}
#logo{
    margin: 0 0 0 40px; 
}
main{
    display: flex;
}       
section:first-child{
    margin-left: 240px;
}
#cajatext{
    display: block;
    border: none;
    background-color: #f3f5fc;
    width: 577px;
    height: 48px;
    margin: 80px 0 300px 0;
}
.cajadetexto p{
    display: inline;
    margin-top: 851px;
}
.botones{
    width: 600px;
    display: flex;
    
}
.botones button{
    width: 328px;
    height: 57px;
    border-radius: 24px;
    background-color: #f3f5fc;
    color: #0A3871;
    padding: auto;
    margin: 0 0 0 0;
}
.botones button:first-child{
    background-color: #0A3871;
    color: #f3f5fc;
}
.contenedormuneco{
    width: 270px;
    height: 550px;
    text-align: center;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    margin: 0 20px 0 150px;
    padding: 30px;
}
.contenedormuneco img{
    width: 250px;
    margin: 80px 0 32px 0;
}

@media all and (max-width: 1440px){
    section:first-child{
        margin-left: 100px;
    }
    .botones button{
        width: 250px;
        height: 50px;
    }
    .contenedormuneco{
    margin: 0 20px 0 20px ;
    width: 220px;
    height: 500px;
    }
    .contenedormuneco img{
        width: 220px;
        margin: 80px 0 32px 0;
    }
}
@media all and (max-width: 768px){
    #logo{
        margin: 0 0 0 30px;
    }
    main{
        display: block;
    }
    section:first-child{
        margin-left: 70px;
    }
    .botones{
        justify-content: space-between;
    }
    .botones button{
        margin: 0;
    }
    .contenedormuneco{
        width: 540px;
        height: 100px;
        margin: 20px 60px 20px 70px;
    }
    .contenedormuneco img{
        display: none;
    }
}